.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    box-sizing: border-box;
}
.btn.focus,
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}
.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px $btn-active-shadow;
    box-shadow: inset 0 3px 5px $btn-active-shadow;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default.focus,
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: $btn-default-background;
}
.btn-primary {
    color: #fff;
    background-color: $btn-primary-background;
    border-color: darken($btn-primary-background, 5%);
}
.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: darken($btn-primary-background, 10%);
    border-color: darken($btn-primary-background, 15%);
}
.btn-primary:hover {
    color: #fff;
    background-color: darken($btn-primary-background, 5%);
    border-color: darken($btn-primary-background, 10%);
}
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: darken($btn-primary-background, 10%);
    background-image: none;
    border-color: darken($btn-primary-background, 15%);
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: darken($btn-primary-background, 15%);
    border-color: darken($btn-primary-background, 20%);
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: $btn-primary-background;
    border-color: darken($btn-primary-background, 5%);
}
.btn-success {
    color: #fff;
    background-color: $btn-success-background;
    border-color: darken($btn-success-background, 5%);
}
.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: darken($btn-success-background, 10%);
    border-color: darken($btn-success-background, 15%);
}
.btn-success:hover {
    color: #fff;
    background-color: darken($btn-success-background, 5%);
    border-color: darken($btn-success-background, 10%);
}
.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: darken($btn-success-background, 10%);
    background-image: none;
    border-color: darken($btn-success-background, 15%);
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: darken($btn-success-background, 15%);
    border-color: darken($btn-success-background, 20%);
}
.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: $btn-success-background;
    border-color: darken($btn-success-background, 5%);
}
.btn-success .badge {
    color: $btn-success-background;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    background-color: $btn-info-background;
    border-color: darken($btn-info-background, 5%);
}
.btn-info.focus,
.btn-info:focus {
    color: #fff;
    background-color: darken($btn-info-background, 10%);
    border-color: darken($btn-info-background, 15%);
}
.btn-info:hover {
    color: #fff;
    background-color: darken($btn-info-background, 5%);
    border-color: darken($btn-info-background, 10%);
}
.btn-info.active,
.btn-info:active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: darken($btn-info-background, 10%);
    background-image: none;
    border-color: darken($btn-info-background, 15%);
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.dropdown-toggle.btn-info.focus,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: darken($btn-info-background, 15%);
    border-color: darken($btn-info-background, 20%);
}
.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    background-color: $btn-info-background;
    border-color: darken($btn-info-background, 5%);
}
.btn-info .badge {
    color: $btn-info-background;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    background-color: $btn-warning-background;
    border-color: darken($btn-warning-background, 5%);
}
.btn-warning.focus,
.btn-warning:focus {
    color: #fff;
    background-color: darken($btn-warning-background, 10%);
    border-color: darken($btn-warning-background, 15%);
}
.btn-warning:hover {
    color: #fff;
    background-color: darken($btn-warning-background, 5%);
    border-color: darken($btn-warning-background, 10%);
}
.btn-warning.active,
.btn-warning:active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: darken($btn-warning-background, 10%);
    background-image: none;
    border-color: darken($btn-warning-background, 15%);
}
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning.focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: darken($btn-warning-background, 15%);
    border-color: darken($btn-warning-background, 20%);
}
.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled].active,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
    background-color: $btn-warning-background;
    border-color: darken($btn-warning-background, 5%);
}
.btn-warning .badge {
    color: $btn-warning-background;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: $btn-danger-background;
    border-color: darken($btn-danger-background, 5%);
}
.btn-danger.focus,
.btn-danger:focus {
    color: #fff;
    background-color: darken($btn-danger-background, 10%);
    border-color: darken($btn-danger-background, 15%);
}
.btn-danger:hover {
    color: #fff;
    background-color: darken($btn-danger-background, 5%);
    border-color: darken($btn-danger-background, 10%);
}
.btn-danger.active,
.btn-danger:active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: darken($btn-danger-background, 10%);
    background-image: none;
    border-color: darken($btn-danger-background, 15%);
}
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open>.dropdown-toggle.btn-danger.focus,
.open>.dropdown-toggle.btn-danger:focus,
.open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: darken($btn-danger-background, 15%);
    border-color: darken($btn-danger-background, 20%);
}
.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
    background-color: $btn-danger-background;
    border-color: darken($btn-danger-background, 5%);
}
.btn-danger .badge {
    color: $btn-danger-background;
    background-color: #fff;
}
.btn-link {
    font-weight: 400;
    color: $btn-link;
    border-radius: 0;
}
.btn-link,
.btn-link.active,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent;
}
.btn-link:focus,
.btn-link:hover {
    color: darken($btn-link, 5%);
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
    color: #777;
    text-decoration: none;
}
.btn-group-lg>.btn,
.btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
    padding: 10px 16px;
}
.btn-group-sm>.btn,
.btn-sm {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn-group-xs>.btn,
.btn-xs {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

.btn-none{
    background:none;
    border:none;
    padding:0;
}
