@font-face {
  font-family: 'CibatusRecipes';
  src:  url('#{$icomoon-font-path}/CibatusRecipes.eot?mq6l3a');
  src:  url('#{$icomoon-font-path}/CibatusRecipes.eot?mq6l3a#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/CibatusRecipes.ttf?mq6l3a') format('truetype'),
    url('#{$icomoon-font-path}/CibatusRecipes.woff?mq6l3a') format('woff'),
    url('#{$icomoon-font-path}/CibatusRecipes.svg?mq6l3a#CibatusRecipes') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CibatusRecipes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  color: #001204;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.8rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-icecream {
  &:before {
    content: $icon-icecream;
  }
}
.icon-cookie {
  &:before {
    content: $icon-cookie;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-cupcake {
  &:before {
    content: $icon-cupcake;
  }
}
.icon-loop {
  &:before {
    content: $icon-loop;
  }
}
.icon-bread {
  &:before {
    content: $icon-bread;
  }
}
.icon-cake {
  &:before {
    content: $icon-cake;
  }
}
.icon-fish {
  &:before {
    content: $icon-fish;
  }
}
.icon-honey-stick {
  &:before {
    content: $icon-honey-stick;
  }
}
.icon-leaf {
  &:before {
    content: $icon-leaf;
  }
}
.icon-milk {
  &:before {
    content: $icon-milk;
  }
}
