body{
    background: $page-background;
    overflow-x: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
@media (min-width: 992px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: left
    }
    .col-12 {
        width: 100%
    }
    .col-11 {
        width: 91.66666667%
    }
    .col-10 {
        width: 83.33333333%
    }
    .col-9 {
        width: 75%
    }
    .col-8 {
        width: 66.66666667%
    }
    .col-7 {
        width: 58.33333333%
    }
    .col-6 {
        width: 50%
    }
    .col-5 {
        width: 41.66666667%
    }
    .col-4 {
        width: 33.33333333%
    }
    .col-3 {
        width: 25%
    }
    .col-2 {
        width: 16.66666667%
    }
    .col-1 {
        width: 8.33333333%
    }
}

.bottom-shadow{
    box-shadow: inset 0px 11px 8px -10px $menu-header-background;
    width:100%;
    height:10px;
}

 // Align:

 .vertical {
   vertical-align: middle;
 }

// BG color:

.base-color-60 {
  background-color: $base-color-60;
}
.base-color-30 {
  background-color: $base-color-30;
}
.base-color-10 {
  background-color: $base-color-10;
}

// Margin:

.margin-tb-100 {
  margin: 100px 0;
}

// Padding:

.padding-t-100 {
  padding: 100px 0 0 0;
}
.padding-tb-25 {
  padding: 25px 0;
}
.padding-tb-100 {
  padding: 100px 0;
}

.padding-5{
    padding: 5px;
}

.full-width{
    width: 100%;
}

.no-float{
    float:none;
}

.float-right{
    float:right
}

.float-left{
    float: left;
}

.align-center{
    text-align: center;
}
