
// Base page sizes:

$row-width: 100%;
$wrap-width: 1100px;

// Base breakingpoints:

$bp-desktop: 1400px;
$bp-table-landscape: 1024px;
$bp-table-portrait: 768px;
$bp-phone-landscape: 568px;
$bp-phone-portrait: 375px;



// CibatusRecipes Icon Pack:

$icomoon-font-path: "/fonts" !default;

$icon-icecream: "\e90a";
$icon-cookie: "\e909";
$icon-coffee: "\e908";
$icon-bread: "\e900";
$icon-cake: "\e901";
$icon-fish: "\e902";
$icon-honey-stick: "\e903";
$icon-leaf: "\e904";
$icon-milk: "\e905";
$icon-loop: "\e906";
$icon-cupcake: "\e907";
